In [1]:
#dictonary--
#strings,numeric,boolean are allowed as strinng but any special character is not allowedd
d1={"name":"anu","class":3,True:"death",'name':"anushka"}
d1

{'name': 'anushka', 'class': 3, True: 'death'}

In [2]:
#no indexing concept in duct , we can fetch data by key
#herre last value is iverrided by the same key
d1["name"]

'anushka'

In [3]:
d2={"company":"AnuOrg","facilities":["greateness","loyality","richness","gratitude"]}
d2['facilities'][1]

'loyality'

In [4]:
#we can put list,tuple,set ,dict all as value in a dictionary
d={"company":"AnuOrg","facilities":["greateness","loyality","richness","gratitude"],"eduLevel":(0,1,2,3,4,5,6),"CriteriaAge":{18,19,20,21,22,23,24},"Provided":{"for":"notEveryOne","yes":"specificOne",25:"Can enroll with extra fee"}}
d

{'company': 'AnuOrg',
 'facilities': ['greateness', 'loyality', 'richness', 'gratitude'],
 'eduLevel': (0, 1, 2, 3, 4, 5, 6),
 'CriteriaAge': {18, 19, 20, 21, 22, 23, 24},
 'Provided': {'for': 'notEveryOne',
  'yes': 'specificOne',
  25: 'Can enroll with extra fee'}}

In [5]:
#fetch 'Can enroll with extra fee'
d["Provided"][25]

'Can enroll with extra fee'

In [6]:
#to add key--can use to update also
d["dont"]="cheat"
d

{'company': 'AnuOrg',
 'facilities': ['greateness', 'loyality', 'richness', 'gratitude'],
 'eduLevel': (0, 1, 2, 3, 4, 5, 6),
 'CriteriaAge': {18, 19, 20, 21, 22, 23, 24},
 'Provided': {'for': 'notEveryOne',
  'yes': 'specificOne',
  25: 'Can enroll with extra fee'},
 'dont': 'cheat'}

In [7]:
#to delete a whole key
del d["facilities"]
d

{'company': 'AnuOrg',
 'eduLevel': (0, 1, 2, 3, 4, 5, 6),
 'CriteriaAge': {18, 19, 20, 21, 22, 23, 24},
 'Provided': {'for': 'notEveryOne',
  'yes': 'specificOne',
  25: 'Can enroll with extra fee'},
 'dont': 'cheat'}

In [8]:
#to get set of all the key of a dict
list(d.keys())

['company', 'eduLevel', 'CriteriaAge', 'Provided', 'dont']

In [9]:
#to get values
list(d.values())

['AnuOrg',
 (0, 1, 2, 3, 4, 5, 6),
 {18, 19, 20, 21, 22, 23, 24},
 {'for': 'notEveryOne', 'yes': 'specificOne', 25: 'Can enroll with extra fee'},
 'cheat']

In [10]:
#to get values
#will return all key value pair in a tuple
list(d.items())

[('company', 'AnuOrg'),
 ('eduLevel', (0, 1, 2, 3, 4, 5, 6)),
 ('CriteriaAge', {18, 19, 20, 21, 22, 23, 24}),
 ('Provided',
  {'for': 'notEveryOne',
   'yes': 'specificOne',
   25: 'Can enroll with extra fee'}),
 ('dont', 'cheat')]

In [11]:
#pop delets according to the key value
d.pop("eduLevel")
d

{'company': 'AnuOrg',
 'CriteriaAge': {18, 19, 20, 21, 22, 23, 24},
 'Provided': {'for': 'notEveryOne',
  'yes': 'specificOne',
  25: 'Can enroll with extra fee'},
 'dont': 'cheat'}

In [12]:
#conditional statements--
#in any block if any of "if","elif","else" statememnt gets executed then futher no blocks wil be chacked and execution wil break
#marks=78
#we can also take input from user
marks=int(input("enter your marks "))
if marks>=80:
    print("you will be in A0 batch")
elif marks>=60 and marks<80:
    print("you will be in A1 batch")
elif marks>=40 and marks<60:
    print("you will be in A2 batch")
else:
    print("you will be in A3 batch")

enter your marks  500000

you will be in A0 batch

In [13]:
price=int(input("enter your price "))
if price>=1000:
    print("purchase")
    if price>=6000:
        print("cant purchase too much")
    elif price<=3000:
        print("ok buy it")
else:
    print("too cheap to buy")

enter your price  500000

purchase
cant purchase too much

In [14]:
#loops--
l=[1,2,3,3,4,5,6,7,8,9,10]
for i in range(len(l)):
    l[i]=l[i]+1
l

[2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 11]

In [28]:
#since list a iterable ds so we can also do it direct--
l1=[1,2,3,3,4,5,6,7,8,9,10]
l2=[]
for i in l1:
    l2.append(i+1)
l2

10

In [16]:
l3=["anushka", "gupta","lalganj","jssate"]
l4=[]
for i in l3:
    l4.append(i.upper())
l4

['ANUSHKA', 'GUPTA', 'LALGANJ', 'JSSATE']

In [17]:
l5=["anushka", "gupta","lalganj","jssate"]
for i in range(len(l3)):
    l5[i]=l5[i].upper()
l5

['ANUSHKA', 'GUPTA', 'LALGANJ', 'JSSATE']

In [27]:
l6=["anushka",54, "gupta",34.67,56,"lalganj",90,"jssate"]
l7=[]
i=0
for i in range(len(l6)):
    if type(l6[i])==str:
        l7.append(l6[i])
        #l6.remove(i)
        print(i)
    else:
        l6[i]=l6[i]
l7

0
2
5
7

['anushka', 'gupta', 'lalganj', 'jssate']

In [35]:
l8=["anushka",54, "gupta",34.67,56,"lalganj",90,"jssate"]
l9=[]
l10=[]
for j in l8:
    if type(j)==int or type(j)==float:
        l9.append(j)
    else:
        l10.append(j)
l10

['anushka', 'gupta', 'lalganj', 'jssate']

In [36]:
l9

[54, 34.67, 56, 90]