In [1]:
#functions are used to increase reusability of code
def fun1():
    print("my first function")

In [2]:
fun1()

my first function

In [3]:
#the following will throw err because by print statement no return type is associated 
#fun1() + "siya"
#to resolve this of we want to add something after returning we should return string instead of printing value
def fun2():
    return "my name is : "
fun2() +"anuhska"

'my name is : anuhska'

In [4]:
#python can return more than one datatypes (me as java developer crying in corner (;_;)
def fun3():
    return "ansuhka",34,5+6j,True,[654,45,4]
fun3()

('ansuhka', 34, (5+6j), True, [654, 45, 4])

In [5]:
fun3()

('ansuhka', 34, (5+6j), True, [654, 45, 4])

In [6]:
#infact we can store these returning values inside different variables by assigining them
a,b,c,d,e=fun3()

In [7]:
a

'ansuhka'

In [8]:
b,c

(34, (5+6j))

In [9]:
b

34

In [10]:
e

[654, 45, 4]

In [11]:
#we can add arguments also--to make it not hardcoded--
def fun4(a,b):
    return a+b
fun4(4,5)

9

In [12]:
#will concatenate string and lists
fun4("anushka ","gupta")

'anushka gupta'

In [13]:
fun4( [1,2,3,4,6],["gupta",4])

[1, 2, 3, 4, 6, 'gupta', 4]

In [14]:
#a function for setting all int values in another list
l=[1, 2, 3, 4, 6, 'gupta', 4,[1,2,7]]
def fun5(l):
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1
fun5(l)

[1, 2, 3, 4, 6, 4]

In [15]:
#a function for setting all int values in another list also if one more list then put int inside that into the new list
l=[1, 2, 3, 4, 6, 'gupta', 4,[1,2,7,111]]
def fun6(l):
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
        if type(i)==list:
            for j in i:
                l1.append(j)
    return l1
fun6(l)

[1, 2, 3, 4, 6, 4, 1, 2, 7, 111]

In [16]:
#we can even pass arguments by their name if forgot sequence--
def fun7(a,b,c):
    a+=10
    b+=90
    c+=100
    return a,b,c
fun7(a=1,b=9,c=100)

(11, 99, 200)

In [17]:
#passing n number of multiple arguments--
def fun8(*args):
    return args
fun8(1,2,3,4,5,6,"annushka")

(1, 2, 3, 4, 5, 6, 'annushka')

In [18]:
#while giving another arg with *args will through err caouse it will not understand what value is assigned to args and what to a
#def fun8(*args,a): will through err if while passing parameter we didnt specified
def fun9(*args,a):
    return args,a
#we will have to specify here
fun9(1,2,3,4,5,6,"annushka",a=6+9j)

((1, 2, 3, 4, 5, 6, 'annushka'), (6+9j))

In [19]:
#we can even give default values to the argments
def fun10(a,b,c=10,d="anushka"):
    return a,b,c,d
# we wil have to specify value of a, b cause there is no defuault val for a,b
fun10(1,2)

(1, 2, 10, 'anushka')

In [20]:
#we can override default value--
fun10(1,2,3,4)

(1, 2, 3, 4)

In [21]:
# if we want return in dic formate and give input in key value pairs then we will have to pass argmnt as **kwargs
def fun11(**kwargs):
    """returns all the parameter passed in form of dictionary"""
    return kwargs
fun11()

{}

In [22]:
type(fun11())

dict

In [23]:
#we will have to pass argumnts as key value pairs also
fun11(a="anus",b=10,c=8+9j,d=True)

{'a': 'anus', 'b': 10, 'c': (8+9j), 'd': True}

In [24]:
#if we dont want to define a fn and just declare it at the moment the we can use pass keyword
def passfun():
    """just pass for now no logic"""
    pass
#if we didnt used pass fn it would have thowrn err
#we can also add description about a fn in triple quotes called doc string
#when| we press shift+tab inside paranthesis we get description of that fn we can do it for user defined fn also
#range(here press shift+tab)
fun11()
passfun()

In [25]:
#generator function----------
#generator fun gives data one by one continuously till end without holding any space in the memory
#like range is a kind of generator fun that generates number in a given range--
range(1,10)
#this will generate num from 1 to 9 but to print it we have convert it to list or iterate through a for loop to print each num
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [27]:
#to creat a user defined generator function we usually use yield keyword
#create a genrator fun for fibinacci
def gfun1(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b
#following line will create a generator object of this fn, to write elements we have to iterate and print or make a list thn prnt
gfun1(10)

In [28]:
for i in gfun1(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [29]:
#generator function yields data one by one not consuming pafrt in memory
#to use generator function we can also create its object and the use it
#after creating object we can print our data by next fun

In [30]:
def gfun2(n):
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
gfun2(2)

In [31]:
g= gfun2(5)
for i in range(10):
    #here next means print the vslue where next pointer is pointing
    #the nearest or next vzlue to it will be printed
    print(next(g))

0
1
1
2
3
5
8
13
21
34

In [32]:
#next works only when object is an iterator
#internal working of for loop--
#while iterating through a string for loop first comvertss the str(iterable) to the type iterator by method itr(str)
#then simply for loop writes the next value of the str for given number of times eg-
s="anushka"
for i in s:
    print(i)

a
n
u
s
h
k
a

In [33]:
# but if we simple do next it will throw err-
#next(s) is showing err """"'str' object is not an iterator """"" so we have to convert it to a iterator then find its next
s1=iter(s)
next(s1)

'a'

In [34]:
next(s1)

'n'

In [35]:
next(s1)

'u'

In [36]:
next(s1)
#and so on... now same thing for loop does  converts to iter first then calss it given number of range times

's'

In [37]:
#further only iterable things can be converted to iterator , a number cant be convertedt to iter cause it not iterable
#iter(34) is showing err """ 'int' object is not iterable """
#now since next is working for object of the function means obj of a fun is a iterator bydfault
#iterator- jiske next next next me hm jakr value nikal ske without using loop 
#and iterable is such data that can be converted to iterator
#now chekk type of obj of fun 
type(g)
#it is giving type as generator hence generator obj are automatically iterator
#we are just giving number of times we should run loop then we just find its next and then its printing next value

generator

In [38]:
def countii(n):
    count = 1
    while count<=n:
        yield count
        count+=1

In [39]:
#create obj of fn
c=countii(10)
#check its type giving generator
type(c)

generator

In [40]:
for i in c:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
# also we can do
#here we did it without creating obj so next is not used
for i in countii(11):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [42]:
type(countii(7))

generator

In [43]:
#lambda function--
#A lambda function is a small anonymous function,lambda fn can take any number of arguments,but can only have one expression
#lanbda is a reserve keyword in py
#lambda fn are one liner function means defined in single line only
#lambda is called as a anonimous fn cause we dont define its name just agrs and output and done
#for eg- for a normal fun for calculating the pow value--
def poww(n,p):
    return n**p
poww(5,6)

15625

In [44]:
#now doint it with lambda--
lambda n,p:n**p

In [45]:
a=lambda n,p:n**p

In [46]:
#now we can call it like
a(5,6)

15625

In [47]:
#now add of 2 num by lambda fn
#here we defined fun and didnt gave it a name just created its obj and called fn through object
#now use lambda fn for basic small fn but for coplex it wont work
add= lambda x,y:x+y
add(5,6)

11

In [48]:
#lambda fn for clesiuis to farenhiet conversion-
ctof= lambda c: c*9/5 + 32
ctof(45)

113.0

In [49]:
#max of 2 using lambda
max2= lambda z,w: z if z>w else w
max2(10,13)

13

In [62]:
#len of str using lambda fn
lemi=lambda s: len(s)
lemi("Anushka")

7

map function

In [51]:
#map function------
#map(func, *iterables) --> map object
#map fn is a in built fn in python we give a fun in its first arg and the data structure in as second arg 
#map fun just maps the work of first arg with all elements of second arg
#map() returns a map object, which is an iterator that yields items on demand. So, the natural replacement for map() is a generator expression because generator expressions return generator objects, which are also iterators that yield items on demand.
#eg-
map(lambda a:a**2 , [1,23,4,5,6,2,3])

In [52]:
list(map(lambda a:a**2 , [1,23,4,5,6,2,3]))# here we are passing first arg as internal fn we can also pass frst arg as extrnl fn

[1, 529, 16, 25, 36, 4, 9]

In [53]:
#add 2 lists index wise:
def add2(l1,l2):
    l3=[]
    for i in range(len(l1)):
        l3.append(l1[i]+l2[i])
    return l3
add2([12,123,45,1,454,5,43,4654,1],[14145,145,145,1,254,11,124,45,7])

[14157, 268, 190, 2, 708, 16, 167, 4699, 8]

In [66]:
#by map:
l1=[12,123,45,1,454,5,43,4654,1]
l2=[14145,145,145,1,254,11,124,45,7]
list(map(lambda a,b:a+b,[12,123,45,1,454,5,43,4654,1],[14145,145,145,1,254,11,124,45,7]))

[14157, 268, 190, 2, 708, 16, 167, 4699, 8]

In [56]:
#by using external fn-
def ad(a,b):
    return a+b
list(map(ad,l1,l2))

[14157, 268, 190, 2, 708, 16, 167, 4699, 8]

In [61]:
#str to upper
list(map(lambda x:x.upper() , "anushka"))

['A', 'N', 'U', 'S', 'H', 'K', 'A']

In [68]:
#reduce function--
#reduce is not by default availabe in py we have to import it thorugh library
#basically work of reduce fn is to reduce or collapse whole arr to return a single value
#q- return sum of al elemen t of a list
#interanl workin of reduce for eg in a list like l=[1,2,3,4] is works as first adds 1 and 2=3 then adds 3 and 3=6 then adds 6and 4=10
#we cant pass 3 args in lambda using reduce because it may show endex not found err
from functools import reduce
reduce(lambda t,y:t+y,l1)

5338

In [72]:
#multiplication of entire list--
l=[1,2,3,4,45,4435,4542,46572,3]
reduce(lambda a,b:a*b, l)

3039559526865600

In [73]:
#to find the highest element of a list
reduce(lambda a,b:a if a>b else b , l)

46572

filter function

In [78]:
#return few elements out of a arr that satisfies the given condition
#basically filter function, filters the iterable data structure according to the given condition and gives the filter ds
#to give even numbers out of a list
list(filter( lambda a:a%2==0 ,l))

[2, 4, 4542, 46572]

In [79]:
#for odd
list(filter( lambda a:a%2!=0 ,l))

[1, 3, 45, 4435, 3]

In [80]:
#print neg number of a list
l3=[1,2,5,3,356,2,56,526,-145,45,456,-1454,-1,-2,-9,14]
list(filter(lambda a: a<0 ,l3))

[-145, -1454, -1, -2, -9]

In [81]:
#returnn str less than size 6 in a lis of str
ls=["Anushka","gupta","anu","siya","anushkagupta","pwskills"]
list(filter(lambda s: len(s)>6, ls))

['Anushka', 'anushkagupta', 'pwskills']