In [1]:
#list it can store all the data types of elements even list can store non primitive or a list can store another list,tuple also
/# list is a non primitive data set 
l=[45,"anu",24.32,True,3+4j,'auaa']
type(l)

list

In [2]:
l

[45, 'anu', 24.32, True, (3+4j), 'auaa']

In [3]:
#we can apply indexing and slicing concept of strings in list also
l[1]

'anu'

In [4]:
l[1].find('n')

1

In [5]:
l[::-1]

['auaa', (3+4j), True, 24.32, 'anu', 45]

In [6]:
#data at even indexes
l[0:5:2]

[45, 24.32, (3+4j)]

In [7]:
#list and str cant be concatenated wwe can add a string to list after onverting str to list
s='anushka'

In [8]:
list(s)+l

['a', 'n', 'u', 's', 'h', 'k', 'a', 45, 'anu', 24.32, True, (3+4j), 'auaa']

In [9]:
l[5][0:2]

'au'

In [10]:
l1=[1,2,3,4]
l1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [11]:
len(l1)

4

In [12]:
l1.append(8)
l1

[1, 2, 3, 4, 8]

In [13]:
l1.append(s)
l1

[1, 2, 3, 4, 8, 'anushka']

In [14]:
l.append(l1)
l

[45, 'anu', 24.32, True, (3+4j), 'auaa', [1, 2, 3, 4, 8, 'anushka']]

In [15]:
#extend method first breaks the data then puts in the list so only iterable data can be put inside extend
s2="gupta"
l1.extend(s2)
l1

[1, 2, 3, 4, 8, 'anushka', 'g', 'u', 'p', 't', 'a']

In [16]:
l2=[1,4,5]
l2.insert(2,10)
l2

[1, 4, 10, 5]

In [17]:
l2.insert(-1,"anu2")
l2

[1, 4, 10, 'anu2', 5]

In [18]:
l1.pop()#pop bydefault removes last index data, to remove specified index put inside paranthesis
l1

[1, 2, 3, 4, 8, 'anushka', 'g', 'u', 'p', 't']

In [19]:
l2.pop(4)
l2

[1, 4, 10, 'anu2']

In [20]:
#remove works with value
l2.remove(10)
l2

[1, 4, 'anu2']

In [21]:
l

[45,
 'anu',
 24.32,
 True,
 (3+4j),
 'auaa',
 [1, 2, 3, 4, 8, 'anushka', 'g', 'u', 'p', 't']]

In [22]:
l[6].remove('u')# remove dlts 1st occurence of object
l

[45,
 'anu',
 24.32,
 True,
 (3+4j),
 'auaa',
 [1, 2, 3, 4, 8, 'anushka', 'g', 'p', 't']]

In [23]:
#l[5][2].remove('a') will through err because str is immutable

In [24]:
l1.reverse()#permanent reverse

In [25]:
l1

['t', 'p', 'g', 'anushka', 8, 4, 3, 2, 1]

In [26]:
l3=[435,462,1,455,45,25,0,624]
l3.sort()#will sort only if data inside is of same datatype
l3

[0, 1, 25, 45, 435, 455, 462, 624]

In [27]:
#to sort in descending order put reverse= true as a argument in the sort method
l3.sort(reverse=True)
l3

[624, 462, 455, 435, 45, 25, 1, 0]

In [28]:
#index function will return index of a element , it will return 1st occurence
l3.index(455)

2

In [29]:
#count will return the number of times a value has occured
l4=[1,1,1,1,1,1,1,1,1,4,4,5,4,5,4,4,4,4,5,5,4,4,6]
l4.count(6)

1

In [30]:
#assignment in str not possible because it is immutable but in list possible str[0]='2'--> error
l4[4]=10
l4

[1, 1, 1, 1, 10, 1, 1, 1, 1, 4, 4, 5, 4, 5, 4, 4, 4, 4, 5, 5, 4, 4, 6]

In [31]:
s3="googggoogoogo"
s3.replace('o','m')#it will create a new string but old string will be unchanged

'gmmgggmmgmmgm'

In [32]:
s3

'googggoogoogo'

In [33]:
#tuple--immutable so assignment and removal is not possible
#data can be stored same as of a list
# a tuple have only two methods-- 1-- index 2--count
t=(2,3,"anuhska",["anus", 7],True,7+8j)
t[3]

['anus', 7]

In [34]:
type(t)

tuple

In [35]:
len(t)

6

In [36]:
t.count(7485)

0

In [37]:
t.index(True)#will show err if we search for a element that is not present in tuple

4

In [38]:
# set---
#is used to store the not repeating values
#a set can store inly mutable objects , like can store str, int ,float, tuple but cant store a list
se={}#will show its type as a dict coz its not defied yet after defining it will show type as set
type(se)

dict

In [39]:
se1={1,2,23,2,3,3,4,4,6,6,5,5,5,"Anu","anu",5,62,True,("anu",56.6,2,0,4+5j,True)}
type(se1)

set

In [40]:
se1#vese set contains no repeatiton but since python is case sensitive soit will treat anu,Anu differently and keep both in set

{('anu', 56.6, 2, 0, (4+5j), True), 1, 2, 23, 3, 4, 5, 6, 62, 'Anu', 'anu'}

In [41]:
#set is used to remove duplicacy
list1=[1,2,23,2,3,3,4,4,6,6,5,5,5,0,1,2,3,5,5,5,56,6,7,7,10,1023,34,34,0]
list1=list(set(list1))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 34, 10, 23, 56, 1023]

In [42]:
#set does not support indexing and slicing cause it does not store data according to index but stores according to hash
#to get all the methods of the set write set_name. then press tab all the methods will start showing in a new cell if not worki 
#to know about functions of these methods googleðŸ˜Š
#remember set is mutable so we can add and remove but it dont use indexing to store so we cant add or remove on index
#we will have to add or remove by values , for eg-- few fun--
se1.add(45)
se1

{('anu', 56.6, 2, 0, (4+5j), True), 1, 2, 23, 3, 4, 45, 5, 6, 62, 'Anu', 'anu'}

In [43]:
se1.remove(62)
se1

{('anu', 56.6, 2, 0, (4+5j), True), 1, 2, 23, 3, 4, 45, 5, 6, 'Anu', 'anu'}

In [45]:
my_dict = {"a": 1, "b": 2, "c": 3}

my_set = set(my_dict.keys())

my_set.add("d")

print(my_set)

{'b', 'a', 'c', 'd'}